<app-header [headerTitle]="headerTitle" [backButtonActive]="true"></app-header>
<ion-content>
    <div class="messaje-container-page">
        <ion-text>
            <h3>Pantalla <br> de Configuración</h3>
        </ion-text>
        <ion-text>
            Esta pantalla es únicamente para validar como se construye la navegación de la aplicación, por lo tanto, este puede ser el único contenido
        </ion-text>
    </div>
</ion-content>
<app-menu-footer [menu]="menu"></app-menu-footer>