<ion-header mode="md">
    <ion-toolbar mode="ios">
        <ion-buttons mode="md">
            <ion-menu-button mode="md" *ngIf="!backButtonActive" color="primary"></ion-menu-button>
            <ion-back-button mode="md" *ngIf="backButtonActive" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">{{ headerTitle }}</ion-title>
    </ion-toolbar>
</ion-header>