<ion-content>
    <ion-slides pager="true" class="slide-full">
        <ion-slide *ngFor="let d of demoImages">
            <div class="slide-content">
                <div class="descripcion"> {{d.text}} </div> <br>
                <img src="../../../assets/images/{{d.image}}" alt="">
            </div>
        </ion-slide>
    </ion-slides>
    <div class="btn-container">
        <ion-button fill="clear" routerLink="/login">
            CONTINUAR
        </ion-button>
    </div>
</ion-content>