.slide-full {
    height: 92% !important;
    background: #F5F5F5;
    // margin-bottom: 45px;
}

.slide-image {
    // width: 100px;
    // text-align: center;
    // display: block;
    margin-left: auto;
    margin-right: auto;
    // position: relative;
    top: -50px;
}

.slide-content {}

.descripcion {
    font-size: 24px;
    color: #666666;
    padding: 20px 100px;
}

.img-news {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.btn-container {
    text-align: right;
    // display: flex;
    justify-content: center;
    align-items: center;
}