ion-content {
    --background: #F5F5F5;
    --padding-bottom: 25px;
    --padding-end: 25px;
    --padding-start: 25px;
    --padding-top: 10px;
}

.card-icon {
    width: 40px;
}

.card-product {
    margin-top: 15px;
    margin-bottom: 15px;
    border-left: 7px solid var(--ion-color-primary);
    background: white;
    padding: 10px 0px;
}

.product-name {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--ion-color-medium);
}

.currency {
    color: var(--ion-color-medium);
    font-size: 14px;
}

.amount {
    color: var(--ion-color-medium);
    font-size: 24px;
}

.available-label {
    color: #999999;
    font-size: 10px;
    margin-top: -12px;
}

.secondary {
    border-left: 7px solid var(--ion-color-secondary);
}