<app-header [headerTitle]="headerTitle" [backButtonActive]="true"></app-header>
<ion-content>

    <div class="card-product">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="2">
                    <img class="card-icon" src="../../../assets/images/{{ (product?.productType === 'AC') ? 'icon_account_gray' : 'icon_credit_card_gray' }}.svg" alt="">
                </ion-col>
                <ion-col class="product-name" size="9">
                    <label>{{ product?.alias }} - {{ product?.number | mask:'account' }} </label>
                </ion-col>
                <ion-col size="12">
                    <ion-text class="currency">RD$</ion-text>
                    <ion-text class="amount">{{ (product?.productType === 'AC') ? product?.availableAmount : product?.availableAmountRD | currency:' ' }}</ion-text>
                </ion-col>
                <ion-col size="12" *ngIf="product?.productType === 'TC' && product?.isInternational">
                    <ion-text class="currency">US$</ion-text>
                    <ion-text class="amount">{{ (product?.productType === 'AC') ? product?.availableAmount : product?.availableAmountUS | currency:' ' }}</ion-text>
                </ion-col>
                <ion-col class="available-label" size="12">
                    <ion-text>Balance disponible</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>