// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #49B742;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #49B742;
    --ion-color-primary-tint: #49B742;
    /** secondary **/
    --ion-color-secondary: #00477A;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #00477A;
    --ion-color-secondary-tint: #00477A;
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #C92340;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #C92340;
    --ion-color-danger-tint: #C92340;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #666666;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #666666;
    --ion-color-medium-tint: #666666;
    /** light **/
    --ion-color-light: #CCCCCC;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #CCCCCC;
    --ion-color-light-tint: #CCCCCC;
}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('../assets/fonts/TrebuchetMS.ttf') format('ttf');
}

* {
    font-family: 'Trebuchet MS' !important;
}

ion-toolbar {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: 4px solid var(--ion-color-primary);
    height: 75px;
}

ion-title {
    --color: var(--ion-color-medium);
    font-weight: normal;
}

ion-menu-button {
    font-size: 2em;
}

ion-back-button {
    display: block !important;
}

.toast-messaje-error {
    --background: var(--ion-color-danger);
    color: white;
    text-align: center;
    font-weight: bold;
}

.messaje-container-page {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    color: var(--ion-color-light);
}

ion-spinner {
    color: #000000 !important;
}

.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    --background: #ffffff !important;
    background: #ffffff !important;
}

.swiper-pagination-bullet-active {
    --background: var(--ion-color-primary) !important;
    background: var(--ion-color-primary) !important
}