<ion-buttons class="menu-btn-container">
    <ion-menu-button mode="md" color="primary"></ion-menu-button>
</ion-buttons>

<ion-content>
    <img class="login-logo" src="../../../assets/images/bhd_logo.png" alt="" sizes="" srcset="">

    <ion-grid class="ion-padding">
        <ion-row class="ion-no-padding">
            <ion-col size="12">
                <img class="icon-input" src="../../../assets/images/icon_user.svg" alt="">
                <ion-input type="text" [(ngModel)]="user" placeholder="Documento de identidad"></ion-input>
            </ion-col>
            <ion-col size="12">
                <img class="icon-input" src="../../../assets/images/icon_password.svg" alt="">
                <ion-input type="password" [(ngModel)]="pass" placeholder="Contraseña"></ion-input>
            </ion-col>
            <ion-col size="12">
                <div class="toogle-container">
                    <ion-toggle mode="ios" color="primary" checked></ion-toggle>
                    <ion-text> Recuerda mi usuaria</ion-text>
                </div>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" class="login-btn" (click)="login()">
                    INICIAR SESIÓN
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>