ion-content {
    --background: url('../../../assets/images/bkg.png');
    background-size: cover;
    z-index: -100;
    height: 100%;
}

.login-logo {
    width: auto;
    margin: auto;
    display: block;
    margin-top: 40%;
}

ion-input {
    --background: white;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 40px;
    --padding-end: 10px;
    border-radius: 5px;
    --placeholder-color: #a29797;
    font-size: 0.8em;
    border: 1px solid #e2dddd;
    margin-top: 10px;
}

.icon-input {
    position: absolute;
    top: 29px;
    z-index: 100;
    left: 18px;
}

.toogle-container {
    ion-toggle {
        zoom: 0.7;
    }
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-text {
        margin-left: 10px;
        font-size: 0.8em;
        color: #555252;
    }
}

.login-btn {
    margin-top: 10px;
    font-size: 0.8em;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.menu-btn-container {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}