ion-title {
    left: -30px;
    font-weight: normal;
    font-size: 14px;
}

.menu-icon {
    width: 25px;
}

.menu-title {
    margin-left: 15px;
    font-size: 12px;
    color: var(--ion-color-medium);
    ;
}

ion-avatar {
    margin-left: 20px;
    width: 45px;
    height: 45px;
}

ion-menu-toggle {
    padding: 15px;
}

hr {
    background: #e5dcdc;
}

.btn-close-container {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.logo-menu-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.logo-menu-container>img {
    width: 155px;
}

.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    background: #ffffff !important;
}

.swiper-pagination-bullet-active {
    background: var(--ion-color-primary) !important;
    ;
}