<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" (ionWillOpen)="loadUserData()" type="overlay">
            <ion-header mode="ios">
                <ion-toolbar mode="ios">
                    <ng-container *ngIf="userLogged">
                        <ion-avatar>
                            <img src="{{userData?.photo}}">
                        </ion-avatar>
                        <ion-title mode="ios"> {{ userData?.name }} {{ userData?.lastName }} </ion-title>
                    </ng-container>

                    <ng-container *ngIf="!userLogged">
                        <div class="logo-menu-container">
                            <img src="../assets/images/bhd_logo.png" alt="">
                        </div>
                    </ng-container>

                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list *ngIf="userLogged">
                    <ion-menu-toggle auto-hide="false" *ngFor="let m of secureMenu">
                        <ion-item lines="none" detail="false" [routerDirection]="'root'" [routerLink]="[m.page]">
                            <img class="menu-icon" src="../../assets/images/{{m.icon}}.svg" alt="">
                            <ion-label class="menu-title"> {{m.title}} </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

                <hr *ngIf="userLogged" />

                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let m of menu">
                        <ion-item lines="none" detail="false" [routerDirection]="'root'" [routerLink]="[m.page]">
                            <img class="menu-icon" src="../../assets/images/{{m.icon}}.svg" alt="">
                            <ion-label class="menu-title"> {{m.title}} </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

                <ion-grid class="btn-close-container" *ngIf="userLogged">
                    <ion-row>
                        <ion-col size="12" class="ion-padding-top" text-center>
                            <ion-button expand="block" fill="outline" (click)="closeSesion()">
                                CERRAR SESIÓN
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>