<ion-footer>
    <ion-row class="footer-menu">
        <ion-col class="menu-footer-item" size-xs="3" *ngFor="let option of menuOptions" (click)="clickOption(option)">
            <img class="menu-icon" src="../../../assets/images/{{(option.icon === menu) ? option.iconActive : option.icon}}.svg" alt="">
            <div>{{ option.text }}</div>
        </ion-col>
    </ion-row>
</ion-footer>