ion-footer {
    border-top: 4px solid var(--ion-color-primary);
}

.menu-footer-item {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #f5f5f5;
}

.menu-footer-item>div {
    font-size: 0.7em !important;
    margin-top: -2px;
    padding-bottom: 10px;
    padding-top: 5px;
    color: #666666;
}

.menu-icon {
    width: 30px;
}