<app-header [headerTitle]="headerTitle" [backButtonActive]="false"></app-header>
<ion-content>
    <ion-text *ngIf="accounts?.length > 0" color="primary">
        <h6>CUENTAS ({{ accounts?.length }})</h6>
    </ion-text>

    <div class="card-product" *ngFor="let acc of accounts">
        <ion-grid fixed (click)="openProductDetail(acc)">
            <ion-row>
                <ion-col size="2">
                    <img class="card-icon" src="../../../assets/images/icon_account_gray.svg" alt="">
                </ion-col>
                <ion-col class="product-name" size="9">
                    <label>{{ acc.alias }} - {{ acc.number | mask:'account' }} </label>
                </ion-col>
                <ion-col size="12">
                    <ion-text class="currency">RD$</ion-text>
                    <ion-text class="amount">{{ acc.availableAmount | currency:' ' }}</ion-text>
                </ion-col>
                <ion-col class="available-label" size="12">
                    <ion-text>Balance disponible</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>


    <ion-text *ngIf="creditCards?.length > 0" color="secondary">
        <h6>TARJETAS ({{ creditCards?.length }})</h6>
    </ion-text>

    <div class="card-product secondary" *ngFor="let card of creditCards">
        <ion-grid fixed (click)="openProductDetail(card)">
            <ion-row>
                <ion-col size="2">
                    <img class="card-icon" src="../../../assets/images/icon_credit_card_gray.svg" alt="">
                </ion-col>
                <ion-col class="product-name" size="9">
                    <label>{{ card.alias }} - {{ card.number | mask:'account' }} </label>
                </ion-col>
                <ion-col size="12">
                    <ion-text class="currency">RD$</ion-text>
                    <ion-text class="amount">{{ card.availableAmountRD | currency: ' ' }}</ion-text>
                </ion-col>
                <ion-col *ngIf="card.isInternational" size="12">
                    <ion-text class="currency">US$</ion-text>
                    <ion-text class="amount">{{ card.availableAmountUS | currency: ' ' }}</ion-text>
                </ion-col>
                <ion-col class="available-label" size="12">
                    <ion-text>Balance disponible</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>

<app-menu-footer [menu]="menu"></app-menu-footer>